<html>
    <head>
        <title>
        {% block title %}
            DDDBlog
        {% endblock %}
        </title>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
        <div id="container">
            {% block content %}
            <h1>{{ username }}'s blog</h1>
            {% for post in posts %}
                <h2>{{ post.title }}</h2>
                <h6>Posted on {{ post.post_date.strftime('%Y-%m-%d') }}</h6>
                {{ post.text|linebreaksp }}
            {% endfor %}
            {% endblock %}
        </div>
    </body>
</html>
