{% extends "base.html" %}

{% block title %}
    Sign up for blog_ex!
{% endblock %}

{% block content %}
    <h1>DDDBlog</h1>
    <h2>Sign up today.</h2>
    <form method="post" action=".">
        <table>
            <tr>
                <td><label>Username:</label></td>
                <td><input name="username" type="text" /></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input name="email" type="text" /></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input name="password" type="password" /></td>
            </tr>
        </table>
        <input type="submit" value="Done" />
    </form>
{% endblock %}
