body {font: normal 100% Open Sans, Helvetica, sans-serif; background-color: #fff; color: #000; padding: 10px;}	

h1 {font-size: 280%; font-weight: normal; padding: 0; margin: .8em 0 0 0; color: #D3D3D3; letter-spacing: .7px; line-height: 18px;}
h1 a:link {color: #D3D3D3; text-decoration: none; border-style: none;}
h1 a:visited {color: #D3D3D3; text-decoration: none; border-style: none;}

h2 {font-family: Open Sans, Helvetica, sans-serif; font-size: 2.2em; color:#333; font-weight:normal; margin-top:1em;}
h3 {font-family: Open Sans, Helvetica, sans-serif; font-size: 1.8em; color:#666; font-weight:normal; line-height: 1em; margin-top: 1.5em;}
h4 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 1em; color:#000000;}
h5 {font-size: .7em; color:#666; font-family: Open Sans, Helvetica, sans-serif; font-weight: bold; letter-spacing: .2em; line-height: .2em;}
h6 {font-size: 1.2em; font-weight:normal; line-height: 1.5em; color:#666; font-family: Open Sans, Helvetica, sans-serif; margin:0 0 10px 0; letter-spacing: .1em; margin-bottom: 1em;}
h6 strong {color: #56A49F; font-weight:bold;}

p{line-height: 1.45em !important; margin:0 0 10px 0; text-indent: 0px; font: 1.3em 'Gentium Book Basic', Hoefler Text, Georgia, bodyfont, serif; color: #333;}
label {line-height: 1.45em !important; margin:0 0 10px 0; text-indent: 0px; font: 1.3em 'Gentium Book Basic', Hoefler Text, Georgia, bodyfont, serif; color: #333;}

a:link {color: #333; text-decoration: none; border-width: 0 0 0 0; border-style: none;}
a:visited {color: #333; text-decoration: none; border:0; border-width: 0 0 0 0; border-style: none;}
a:hover {color: #999; text-decoration: none; border:0; border-width: 0 0 0 0; border-style: none;}

#container {
    margin-left: 120px;
    margin-top: 80px;
    width: 680px;
}

input[type=text] {
    font: 1.45em Open Sans, Helvetica, sans-serif; 
}

input[type=password] {
    font: 1.45em Open Sans, Helvetica, sans-serif; 
}

textarea {
    height: 300px;
    width: 100%;
    font: 1.45em Open Sans, Helvetica, sans-serif; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding-right: 6px;
    padding-bottom: 12px;
}
